<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="/assets/img/favicon.ico">
        <title>{{ page.title }}</title>
        <!-- Bootstrap core CSS -->
        <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
        <!-- Custom styles for this template -->
        <link href="/assets/css/zomg.min.css" rel="stylesheet">
        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
        <script src="/assets/js/ie10-viewport-bug-workaround.min.js"></script>
        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
            <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <div class="container">
            <div class="masthead">
                <h3 class="text-muted">{{ site.title }}</h3>
                <ul class="nav nav-justified">
                    {% assign pagelist = site.pages | sort:"weight" %}
                    {% for node in pagelist %}
                        {% if node.title != null and node.group == "navigation" %}
                          {% if node.subpages %}
                          <li class="dropdown {% if page.url == node.url %} active {% endif %}">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown"> {{ node.title }} <span class="caret"></span></a>
                              <ul class="dropdown-menu" role="menu">
                                  <li><a href="/blog/">Blog Home</a></li>
                                  {% for subpage in node.subpages %}
                                    <li><a href="{{ subpage.url }}">{{ subpage.title }}</a></li>
                                  {% endfor %}
                                  <!-- <li><a href="#">Action</a></li>
                                  <li><a href="#">Another action</a></li>
                                  <li><a href="#">Something else here</a></li>
                                  <li class="divider"></li>
                                  <li class="dropdown-header">Nav header</li>
                                  <li><a href="#">Separated link</a></li>
                                  <li><a href="#">One more separated link</a></li> -->
                              </ul>
                          </li>
                          {% else %}
                            <li {% if page.url == node.url %} class="active" {% endif %}><a href="{{ BASE_PATH }}{{ node.url }}">{{ node.title }}</a></li>
                          {% endif %}
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>