body {
	height: 100%;
	padding: 0;
	margin: 0;
	font-size: 10pt;
	color: #000000;
	font-family: Courier, "Courier New", Monaco, monospace;
	background-image:url(/assets/img/darkwall.png);
	background-repeat:repeat;
}

img {
	display: block;
    margin-left: auto;
    margin-right: auto;
}

a:link {
	color: #ffffff;
}

a:hover {
	color #000000;
}

a:active {
	color: #ffffff;
}

a:visited {
	color: #ffffff;
}

#container {
	width:960px;
	height: 100%;
	text-align: left;
	margin: 0 auto;
}

.lego {
	text-align: center;
	padding-top: 15px;
	padding-bottom: 15px;
}

#header {
	height: 50px;
	text-align: center;
}

#header li {
	display: inline;
	margin: 50px 50px 50px 50px;
}

.letter {
	background: #ffffff;
	box-shadow: 0 0 10px rgba(0,0,0,0.3);
	margin: 0 auto;
	max-width: 960px;
	height: 100%;
	min-height: 800px;
	padding:40px 80px 30px;
	position: relative;
	width: 80%;
	text-align: left;
}

.letter:before, .letter:after {
	content: "";
	height: 100%;
	position: absolute;
	width: 100%;
	z-index: -1;
}

.letter:before {
	background: #fafafa;
	box-shadow: 0 0 8px rgba(0,0,0,0.2);
	left: -5px;
	top: 4px;
	transform: rotate(-2.5deg);
}

.letter:after {
	background: #f6f6f6;
	box-shadow: 0 0 3px rgba(0,0,0,0.2);
	right: -3px;
	top: 1px;
	transform: rotate(1.4deg);
}

.letter a {
	color: #000000;
}

p.readmore {
	text-align: right;
}

span.nextstory {
	float:right
}

.memo {
	font-size: 8pt;
	text-align: center;
	margin-bottom: 50px;
}

.heading_type {
	font-size: 10pt;
	font-family: Georgia, serif, Times, "Times New Roman";
	text-align: center; letter-spacing: 2px;
}

/* Drop Caps */
/*.letter p:nth-of-type(1):first-letter {
	float: left;
	font-size: 75px;
	line-height: 60px;
	padding-top: 4px;
	padding-right: 8px;
	padding-left: 3px;
	font-family: Georgia;
}*/

#footer {
	color: #ffffff;
	padding-top: 30px;
	height:50px;
}