{% include header.html %}
<div class="row">
  <div class="col-sm-12 blog-main">
    <div class="blog-post">
      <h2 class="blog-post-title">{{ page.title }}</h2>
        <p>Here are some projects I like to work on. Most of these are open-source and can be found on GitHub unless otherwise noted. Pull/feature requests are welcome.</p>
        <hr>
        <!-- TODO: When adding project images, be sure to add an img alt text -->
        {% for project in site.data.projects %}
          <div class="project">
            <div class="col-md-2"><img class="logo" src="/assets/img/placeholder.png" alt="Placeholder Image" /></div>
              <div class="col-md-10"><span class="project-title">{{ project.title }}</span> - <span><a href="{{ project.url }}">{{ project.url }}</a></span>
                <p>
                  <ul>
                    <li>Description: {{ project.description }}</li>
                    {% if project.github %}
                      <li>GitHub: {{ project.github }}</li>
                    {% endif %}
                    <li>Technologies: {{ project.technologies }}</li>
                  </ul>
                </p>
              </div>
              <div class="pull-right">
                <a href="{{ project.permalink }}" class="btn btn-primary" role="button">Read More...</a>
              </div>
            </div>
        {% endfor %}
    </div>
  </div>
</div>
{% include footer.html %}
